.main {
    height: 100vh;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.logo-image {
    width: 100px;
}

.login-text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.login-box {
    width: 100%;
    border: solid 1px #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f7f7f7;
}

.btn-custom-green {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-custom-green:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

form div {
    margin-bottom: 15px;
}
